In [1]:
%pip install pyspark pandas sqlalchemy psycopg2-binary

Collecting pyspark
  Downloading pyspark-4.0.1.tar.gz (434.2 MB)
     ---------------------------------------- 0.0/434.2 MB ? eta -:--:--
     --------------------------------------- 1.0/434.2 MB 13.1 MB/s eta 0:00:34
     --------------------------------------- 3.7/434.2 MB 12.7 MB/s eta 0:00:34
      -------------------------------------- 6.3/434.2 MB 13.0 MB/s eta 0:00:33
      ------------------------------------- 10.0/434.2 MB 13.9 MB/s eta 0:00:31
     - ------------------------------------ 12.3/434.2 MB 13.6 MB/s eta 0:00:32
     - ------------------------------------ 15.2/434.2 MB 13.9 MB/s eta 0:00:31
     - ------------------------------------ 16.5/434.2 MB 12.5 MB/s eta 0:00:34
     - ------------------------------------ 19.9/434.2 MB 12.9 MB/s eta 0:00:33
     -- ----------------------------------- 24.1/434.2 MB 13.6 MB/s eta 0:00:31
     -- ----------------------------------- 28.0/434.2 MB 14.1 MB/s eta 0:00:29
     -- ----------------------------------- 31.7/434.2 MB 14.5 MB/s eta 0:00:28
     -- ----------------------------------- 33.8/434.2 MB 14.1 MB/s eta 0:00:29
     --- ---------------------------------- 37.0/434.2 MB 14.1 MB/s eta 0:00:29
     --- ---------------------------------- 41.4/434.2 MB 14.7 MB/s eta 0:00:27
     ---- --------------------------------- 45.9/434.2 MB 15.1 MB/s eta 0:00:26
     ---- --------------------------------- 50.6/434.2 MB 15.5 MB/s eta 0:00:25
     ---- --------------------------------- 55.1/434.2 MB 15.8 MB/s eta 0:00:24
     ----- -------------------------------- 60.6/434.2 MB 16.4 MB/s eta 0:00:23
     ----- -------------------------------- 65.8/434.2 MB 16.8 MB/s eta 0:00:22
     ------ ------------------------------- 69.7/434.2 MB 16.9 MB/s eta 0:00:22
     ------ ------------------------------- 74.2/434.2 MB 17.1 MB/s eta 0:00:22
     ------ ------------------------------- 78.9/434.2 MB 17.3 MB/s eta 0:00:21
     ------- ------------------------------ 83.4/434.2 MB 17.6 MB/s eta 0:00:20
     ------- ------------------------------ 88.1/434.2 MB 17.8 MB/s eta 0:00:20
     -------- ----------------------------- 93.1/434.2 MB 18.0 MB/s eta 0:00:19
     -------- ----------------------------- 98.6/434.2 MB 18.3 MB/s eta 0:00:19
     -------- ---------------------------- 102.8/434.2 MB 18.4 MB/s eta 0:00:19
     --------- --------------------------- 108.3/434.2 MB 18.6 MB/s eta 0:00:18
     --------- --------------------------- 113.2/434.2 MB 18.8 MB/s eta 0:00:18
     ---------- -------------------------- 118.0/434.2 MB 18.9 MB/s eta 0:00:17
     ---------- -------------------------- 122.2/434.2 MB 18.9 MB/s eta 0:00:17
     ---------- -------------------------- 125.8/434.2 MB 18.9 MB/s eta 0:00:17
     ----------- ------------------------- 130.8/434.2 MB 19.0 MB/s eta 0:00:16
     ----------- ------------------------- 136.3/434.2 MB 19.2 MB/s eta 0:00:16
     ------------ ------------------------ 141.8/434.2 MB 19.4 MB/s eta 0:00:16
     ------------ ------------------------ 146.8/434.2 MB 19.6 MB/s eta 0:00:15
     ------------- ----------------------- 152.6/434.2 MB 19.7 MB/s eta 0:00:15
     ------------- ----------------------- 157.8/434.2 MB 19.8 MB/s eta 0:00:14
     ------------- ----------------------- 162.5/434.2 MB 19.9 MB/s eta 0:00:14
     -------------- ---------------------- 167.8/434.2 MB 20.0 MB/s eta 0:00:14
     -------------- ---------------------- 173.0/434.2 MB 20.1 MB/s eta 0:00:14
     --------------- --------------------- 178.0/434.2 MB 20.2 MB/s eta 0:00:13
     --------------- --------------------- 183.0/434.2 MB 20.2 MB/s eta 0:00:13
     ---------------- -------------------- 188.0/434.2 MB 20.3 MB/s eta 0:00:13
     ---------------- -------------------- 192.9/434.2 MB 20.4 MB/s eta 0:00:12
     ---------------- -------------------- 197.4/434.2 MB 20.4 MB/s eta 0:00:12
     ----------------- ------------------- 202.4/434.2 MB 20.5 MB/s eta 0:00:12
     ----------------- ------------------- 206.8/434.2 MB 20.5 MB/s eta 0:00:12
     ------------------ ------------------ 211.6/434.2 MB 20.6 MB/s eta 0:00:11
     ------------------ ------------------ 217.1/434.2 MB 20.7 MB/s eta 0:00:11
     ------------------ ------------------ 222.0/434.2 MB 20.7 MB/s eta 0:00:11
     ------------------- ----------------- 227.0/434.2 MB 20.8 MB/s eta 0:00:10
     ------------------- ----------------- 231.5/434.2 MB 20.8 MB/s eta 0:00:10
     -------------------- ---------------- 236.5/434.2 MB 20.9 MB/s eta 0:00:10
     -------------------- ---------------- 241.4/434.2 MB 20.9 MB/s eta 0:00:10
     --------------------- --------------- 246.7/434.2 MB 21.0 MB/s eta 0:00:09
     --------------------- --------------- 251.9/434.2 MB 21.1 MB/s eta 0:00:09
     --------------------- --------------- 257.4/434.2 MB 21.1 MB/s eta 0:00:09
     ---------------------- -------------- 262.4/434.2 MB 21.2 MB/s eta 0:00:09
     ---------------------- -------------- 268.2/434.2 MB 21.6 MB/s eta 0:00:08
     ----------------------- ------------- 272.9/434.2 MB 21.8 MB/s eta 0:00:08
     ----------------------- ------------- 277.9/434.2 MB 22.2 MB/s eta 0:00:08
     ------------------------ ------------ 282.3/434.2 MB 22.5 MB/s eta 0:00:07
     ------------------------ ------------ 287.0/434.2 MB 22.5 MB/s eta 0:00:07
     ------------------------ ------------ 291.2/434.2 MB 22.6 MB/s eta 0:00:07
     ------------------------- ----------- 296.7/434.2 MB 23.0 MB/s eta 0:00:06
     ------------------------- ----------- 301.2/434.2 MB 23.0 MB/s eta 0:00:06
     -------------------------- ---------- 306.2/434.2 MB 23.1 MB/s eta 0:00:06
     -------------------------- ---------- 310.6/434.2 MB 23.1 MB/s eta 0:00:06
     -------------------------- ---------- 315.4/434.2 MB 23.1 MB/s eta 0:00:06
     --------------------------- --------- 319.3/434.2 MB 23.1 MB/s eta 0:00:05
     --------------------------- --------- 323.2/434.2 MB 22.9 MB/s eta 0:00:05
     --------------------------- --------- 327.9/434.2 MB 22.9 MB/s eta 0:00:05
     ---------------------------- -------- 332.4/434.2 MB 22.9 MB/s eta 0:00:05
     ---------------------------- -------- 336.9/434.2 MB 23.0 MB/s eta 0:00:05
     ----------------------------- ------- 342.1/434.2 MB 23.0 MB/s eta 0:00:05
     ----------------------------- ------- 346.8/434.2 MB 23.0 MB/s eta 0:00:04
     ----------------------------- ------- 351.0/434.2 MB 22.9 MB/s eta 0:00:04
     ------------------------------ ------ 355.7/434.2 MB 22.9 MB/s eta 0:00:04
     ------------------------------ ------ 360.4/434.2 MB 22.9 MB/s eta 0:00:04
     ------------------------------- ----- 365.7/434.2 MB 22.9 MB/s eta 0:00:03
     ------------------------------- ----- 370.7/434.2 MB 22.9 MB/s eta 0:00:03
     ------------------------------- ----- 374.9/434.2 MB 22.8 MB/s eta 0:00:03
     -------------------------------- ---- 379.8/434.2 MB 22.9 MB/s eta 0:00:03
     -------------------------------- ---- 384.3/434.2 MB 22.9 MB/s eta 0:00:03
     --------------------------------- --- 389.8/434.2 MB 23.1 MB/s eta 0:00:02
     --------------------------------- --- 394.3/434.2 MB 23.0 MB/s eta 0:00:02
     --------------------------------- --- 399.0/434.2 MB 22.9 MB/s eta 0:00:02
     ---------------------------------- -- 403.7/434.2 MB 22.9 MB/s eta 0:00:02
     ---------------------------------- -- 408.4/434.2 MB 22.8 MB/s eta 0:00:02
     ----------------------------------- - 413.7/434.2 MB 22.9 MB/s eta 0:00:01
     ----------------------------------- - 417.6/434.2 MB 22.8 MB/s eta 0:00:01
     ----------------------------------- - 422.3/434.2 MB 22.9 MB/s eta 0:00:01
     ------------------------------------  426.2/434.2 MB 22.7 MB/s eta 0:00:01
     ------------------------------------  431.2/434.2 MB 22.7 MB/s eta 0:00:01
     ------------------------------------  434.1/434.2 MB 22.7 MB/s eta 0:00:01
     ------------------------------------  434.1/434.2 MB 22.7 MB/s eta 0:00:01
     ------------------------------------  434.1/434.2 MB 22.7 MB/s eta 0:00:01
     ---------------------------------------- 434.2/434.2 MB 21.5 MB/s  0:00:20
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting pandas
  Using cached pandas-2.3.3-cp314-cp314-win_amd64.whl.metadata (19 kB)
Collecting sqlalchemy
  Using cached sqlalchemy-2.0.45-cp314-cp314-win_amd64.whl.metadata (9.8 kB)
Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.11-cp314-cp314-win_amd64.whl.metadata (5.1 kB)
Collecting py4j==0.10.9.9 (from pyspark)
  Downloading py4j-0.10.9.9-py2.py3-none-any.whl.metadata (1.3 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.5-cp314-cp314-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\onyek\documents\10alytics training\flour4fourpyspark\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Using cached greenlet-3.3.0-cp314-cp314-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Using cached typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: six>=1.5 in c:\users\onyek\documents\10alytics training\flour4fourpyspark\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading py4j-0.10.9.9-py2.py3-none-any.whl (203 kB)
Using cached pandas-2.3.3-cp314-cp314-win_amd64.whl (11.1 MB)
Using cached sqlalchemy-2.0.45-cp314-cp314-win_amd64.whl (2.1 MB)
Using cached psycopg2_binary-2.9.11-cp314-cp314-win_amd64.whl (2.8 MB)
Using cached greenlet-3.3.0-cp314-cp314-win_amd64.whl (305 kB)
Using cached numpy-2.3.5-cp314-cp314-win_amd64.whl (12.9 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (pyproject.toml): started
  Building wheel for pyspark (pyproject.toml): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-4.0.1-py2.py3-none-any.whl size=434903354 sha256=8da2c2488dcd997230900bd6d0b11b11a1899b42991bd25c8a8425600a0c462c
  Stored in directory: c:\users\onyek\appdata\local\pip\cache\wheels\a1\70\d4\2677f8b10c903e8bed0e828f10297861ee280649b88266b047
Successfully built pyspark
Installing collected packages: pytz, py4j, tzdata, typing-extensions, pyspark, psycopg2-binary, numpy, greenlet, sqlalchemy, pandas

   ----------------------------------------  0/10 [pytz]
   ---- -----------------------------------  1/10 [py4j]
   -------- -------------------------------  2/10 [tzdata]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ---------------- -----------------------  4/10 [pyspark]
   ------------------------ ---------------  6/10 [numpy]
   ------------------------ ---------------  6/10 [numpy]
   ------------------------ ---------------  6/10 [numpy]
   ------------------------ ---------------  6/10 [numpy]
   ------------------------ ---------------  6/10 [numpy]
   ------------------------ ---------------  6/10 [numpy]
   ------------------------ ---------------  6/10 [numpy]
   ------------------------ ---------------  6/10 [numpy]
   ------------------------ ---------------  6/10 [numpy]
   ------------------------ ---------------  6/10 [numpy]
   ------------------------ ---------------  6/10 [numpy]
   -------------------------------- -------  8/10 [sqlalchemy]
   -------------------------------- -------  8/10 [sqlalchemy]
   -------------------------------- -------  8/10 [sqlalchemy]
   -------------------------------- -------  8/10 [sqlalchemy]
   -------------------------------- -------  8/10 [sqlalchemy]
   -------------------------------- -------  8/10 [sqlalchemy]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ------------------------------------ ---  9/10 [pandas]
   ---------------------------------------- 10/10 [pandas]

Successfully installed greenlet-3.3.0 numpy-2.3.5 pandas-2.3.3 psycopg2-binary-2.9.11 py4j-0.10.9.9 pyspark-4.0.1 pytz-2025.2 sqlalchemy-2.0.45 typing-extensions-4.15.0 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
# import Necessary Libraries

from pyspark.sql import SparkSession
from pyspark.sql import DataFrameWriter
from pyspark.sql.functions import monotonically_increasing_id
import pandas as pd
from sqlalchemy import create_engine
import os
import psycopg2

In [4]:
from pyspark.sql import SparkSession


spark = (
    SparkSession.builder
    .appName("Flour4Four_ETL_PySpark")
    .getOrCreate()
)

In [5]:
spark

In [47]:
# Data Extraction to Spark DataFrame
f4f_df = spark.read.csv(r'raw_data\flour4four_orders.csv', header=True, inferSchema=True, nullValue="None") 

f4f_df.show(10)

+----------+----------+-------------+-----------+--------------------+-------------+--------------------+---------------+-------------+------------+-------------+-------------+------------+--------------+------------+-------------+-----------+
|  order_id|order_date|delivery_date|business_id|       business_name|business_type|    business_address|   contact_name|contact_phone|  flour_type|quantity_bags|price_per_bag|total_amount|payment_method|order_status|   rider_name|rider_phone|
+----------+----------+-------------+-----------+--------------------+-------------+--------------------+---------------+-------------+------------+-------------+-------------+------------+--------------+------------+-------------+-----------+
|ORD-214576|2025-10-25|   2025-10-25|   BIZ-1018|Adams, Zuniga and...|   Restaurant|Herbert Macaulay ...|   Elimu Agbaje|   8017507864|        NULL|           26|         9500|      247000|           POS|   Delivered|  Aisha Bello| 8089864260|
|ORD-299448|2025-10-08|   2025-10-08|   BIZ-1006|      Blake and Sons|       Bakery|Ahmadu Bello Way,...|Bolanle Kalumba|   8055667651| Bread Flour|           27|        10000|      270000|           POS|   Cancelled|Tunde Oladipo| 8019121552|
|ORD-246991|      NULL|   2025-10-17|   BIZ-1052|    Chapman and Sons|         Cafe|Ahmadu Bello Way,...|   Hassan Nyoni|   8083863413|Pastry Flour|           21|         9800|      205800| Bank Transfer|   Cancelled|Tunde Oladipo| 8019121552|
|ORD-392075|2025-10-13|   2025-10-13|   BIZ-1035|    Rodriguez-Graham|   Restaurant|Herbert Macaulay ...|Mandela Onyango|   8075228535| All-purpose|           20|        10500|      210000| Bank Transfer|     Pending|Tunde Oladipo| 8019121552|
|ORD-179046|2025-10-14|   2025-10-14|   BIZ-1039|Romero, Gonzalez ...|         NULL| Garki Area 1, Abuja|  Mojisola Seko|   8060119651| Bread Flour|           40|         NULL|      380000|           POS|     Pending|   Emeka John| 8019196777|
|ORD-997546|2025-10-14|   2025-10-14|   BIZ-1025|       Wilkerson-Day|         Cafe|Ahmadu Bello Way,...|  Chioma Mensah|   8024716857| Bread Flour|            9|        10000|       90000|          Cash|     Pending|   Emeka John| 8019196777|
|ORD-153045|2025-10-17|   2025-10-17|   BIZ-1001|           Doyle Ltd|   Restaurant|Ahmadu Bello Way,...|  Adaeze Fofana|   8083197857| All-purpose|           11|        10500|      115500|           POS|   Cancelled|Tunde Oladipo| 8019121552|
|ORD-666847|2025-10-20|   2025-10-20|   BIZ-1004|Guzman, Hoffman a...|       Bakery|Herbert Macaulay ...|    Osman Touré|   8097226012| Whole Wheat|           20|         9500|      190000| Bank Transfer|   Delivered|  Aisha Bello| 8089864260|
|ORD-197793|2025-10-26|   2025-10-26|   BIZ-1023|       Morales-Jones|    Fast Food|Herbert Macaulay ...| Yemisi Kalumba|   8088320463| Whole Wheat|           36|         9800|      352800|           POS|   Delivered|Tunde Oladipo| 8019121552|
|ORD-989921|2025-10-28|   2025-10-28|   BIZ-1032|Ferrell, Rice and...|   Restaurant|Ahmadu Bello Way,...|   Leko Nnamani|   8031682744|Pastry Flour|           22|         9800|      215600|          Cash|   Delivered|Tunde Oladipo| 8019121552|
+----------+----------+-------------+-----------+--------------------+-------------+--------------------+---------------+-------------+------------+-------------+-------------+------------+--------------+------------+-------------+-----------+
only showing top 10 rows

In [38]:
# no of rows
num_rows = f4f_df.count()

num_rows

10000

In [39]:
# no of columns 
num_columns = len(f4f_df.columns)

num_columns

17

In [48]:
# Checking for null values
for column in f4f_df.columns:
    print(column, 'Nulls', f4f_df.filter(f4f_df[column].isNull()).count())

order_id Nulls 0
order_date Nulls 628
delivery_date Nulls 0
business_id Nulls 0
business_name Nulls 602
business_type Nulls 987
business_address Nulls 978
contact_name Nulls 0
contact_phone Nulls 0
flour_type Nulls 642
quantity_bags Nulls 0
price_per_bag Nulls 636
total_amount Nulls 0
payment_method Nulls 0
order_status Nulls 0
rider_name Nulls 0
rider_phone Nulls 0

In [49]:
f4f_df.show(5)

+----------+----------+-------------+-----------+--------------------+-------------+--------------------+---------------+-------------+------------+-------------+-------------+------------+--------------+------------+-------------+-----------+
|  order_id|order_date|delivery_date|business_id|       business_name|business_type|    business_address|   contact_name|contact_phone|  flour_type|quantity_bags|price_per_bag|total_amount|payment_method|order_status|   rider_name|rider_phone|
+----------+----------+-------------+-----------+--------------------+-------------+--------------------+---------------+-------------+------------+-------------+-------------+------------+--------------+------------+-------------+-----------+
|ORD-214576|2025-10-25|   2025-10-25|   BIZ-1018|Adams, Zuniga and...|   Restaurant|Herbert Macaulay ...|   Elimu Agbaje|   8017507864|        NULL|           26|         9500|      247000|           POS|   Delivered|  Aisha Bello| 8089864260|
|ORD-299448|2025-10-08|   2025-10-08|   BIZ-1006|      Blake and Sons|       Bakery|Ahmadu Bello Way,...|Bolanle Kalumba|   8055667651| Bread Flour|           27|        10000|      270000|           POS|   Cancelled|Tunde Oladipo| 8019121552|
|ORD-246991|      NULL|   2025-10-17|   BIZ-1052|    Chapman and Sons|         Cafe|Ahmadu Bello Way,...|   Hassan Nyoni|   8083863413|Pastry Flour|           21|         9800|      205800| Bank Transfer|   Cancelled|Tunde Oladipo| 8019121552|
|ORD-392075|2025-10-13|   2025-10-13|   BIZ-1035|    Rodriguez-Graham|   Restaurant|Herbert Macaulay ...|Mandela Onyango|   8075228535| All-purpose|           20|        10500|      210000| Bank Transfer|     Pending|Tunde Oladipo| 8019121552|
|ORD-179046|2025-10-14|   2025-10-14|   BIZ-1039|Romero, Gonzalez ...|         NULL| Garki Area 1, Abuja|  Mojisola Seko|   8060119651| Bread Flour|           40|         NULL|      380000|           POS|     Pending|   Emeka John| 8019196777|
+----------+----------+-------------+-----------+--------------------+-------------+--------------------+---------------+-------------+------------+-------------+-------------+------------+--------------+------------+-------------+-----------+
only showing top 5 rows

In [51]:
# fill up the missing values
from pyspark.sql import functions as F

# Replace null order_date with delivery_date
f4f_df = f4f_df.withColumn(
    "order_date",
    F.coalesce("order_date", "delivery_date")
)

In [52]:
f4f_df.show(5)

+----------+----------+-------------+-----------+--------------------+-------------+--------------------+---------------+-------------+------------+-------------+-------------+------------+--------------+------------+-------------+-----------+
|  order_id|order_date|delivery_date|business_id|       business_name|business_type|    business_address|   contact_name|contact_phone|  flour_type|quantity_bags|price_per_bag|total_amount|payment_method|order_status|   rider_name|rider_phone|
+----------+----------+-------------+-----------+--------------------+-------------+--------------------+---------------+-------------+------------+-------------+-------------+------------+--------------+------------+-------------+-----------+
|ORD-214576|2025-10-25|   2025-10-25|   BIZ-1018|Adams, Zuniga and...|   Restaurant|Herbert Macaulay ...|   Elimu Agbaje|   8017507864|        NULL|           26|         9500|      247000|           POS|   Delivered|  Aisha Bello| 8089864260|
|ORD-299448|2025-10-08|   2025-10-08|   BIZ-1006|      Blake and Sons|       Bakery|Ahmadu Bello Way,...|Bolanle Kalumba|   8055667651| Bread Flour|           27|        10000|      270000|           POS|   Cancelled|Tunde Oladipo| 8019121552|
|ORD-246991|2025-10-17|   2025-10-17|   BIZ-1052|    Chapman and Sons|         Cafe|Ahmadu Bello Way,...|   Hassan Nyoni|   8083863413|Pastry Flour|           21|         9800|      205800| Bank Transfer|   Cancelled|Tunde Oladipo| 8019121552|
|ORD-392075|2025-10-13|   2025-10-13|   BIZ-1035|    Rodriguez-Graham|   Restaurant|Herbert Macaulay ...|Mandela Onyango|   8075228535| All-purpose|           20|        10500|      210000| Bank Transfer|     Pending|Tunde Oladipo| 8019121552|
|ORD-179046|2025-10-14|   2025-10-14|   BIZ-1039|Romero, Gonzalez ...|         NULL| Garki Area 1, Abuja|  Mojisola Seko|   8060119651| Bread Flour|           40|         NULL|      380000|           POS|     Pending|   Emeka John| 8019196777|
+----------+----------+-------------+-----------+--------------------+-------------+--------------------+---------------+-------------+------------+-------------+-------------+------------+--------------+------------+-------------+-----------+
only showing top 5 rows

In [56]:
# fill up the missing values
f4f_df_clean = f4f_df.fillna({
    'business_name': 'Unknown',
    'business_type': 'Unknown',
    'business_address': 'Unknown',
    'flour_type': 'Unknown',
          
})

for column in f4f_df_clean.columns:
    print(column, 'Nulls', f4f_df_clean.filter(f4f_df_clean[column].isNull()).count())

order_id Nulls 0
order_date Nulls 0
delivery_date Nulls 0
business_id Nulls 0
business_name Nulls 0
business_type Nulls 0
business_address Nulls 0
contact_name Nulls 0
contact_phone Nulls 0
flour_type Nulls 0
quantity_bags Nulls 0
price_per_bag Nulls 636
total_amount Nulls 0
payment_method Nulls 0
order_status Nulls 0
rider_name Nulls 0
rider_phone Nulls 0

In [58]:
# Fill price_per_bag with median
median_price = f4f_df_clean.approxQuantile("price_per_bag", [0.5], 0.01)[0]
f4f_df_clean = f4f_df_clean.na.fill({"price_per_bag": median_price})


f4f_df_clean.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- order_date: date (nullable = true)
 |-- delivery_date: date (nullable = true)
 |-- business_id: string (nullable = true)
 |-- business_name: string (nullable = false)
 |-- business_type: string (nullable = false)
 |-- business_address: string (nullable = false)
 |-- contact_name: string (nullable = true)
 |-- contact_phone: long (nullable = true)
 |-- flour_type: string (nullable = false)
 |-- quantity_bags: integer (nullable = true)
 |-- price_per_bag: integer (nullable = true)
 |-- total_amount: integer (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- rider_name: string (nullable = true)
 |-- rider_phone: long (nullable = true)

In [61]:
f4f_df_clean.columns

['order_id',
 'order_date',
 'delivery_date',
 'business_id',
 'business_name',
 'business_type',
 'business_address',
 'contact_name',
 'contact_phone',
 'flour_type',
 'quantity_bags',
 'price_per_bag',
 'total_amount',
 'payment_method',
 'order_status',
 'rider_name',
 'rider_phone']

### Data Transformation

In [ ]:
# create business dimension model 
dim_business = f4f_df_clean.select('business_id', 'business_name', 'business_type', 'business_address', \
                                   'contact_name', 'contact_phone') \
                                   .dropDuplicates(["business_id"])

dim_business.show()

+-----------+--------------------+-------------+--------------------+----------------+-------------+
|business_id|       business_name|business_type|    business_address|    contact_name|contact_phone|
+-----------+--------------------+-------------+--------------------+----------------+-------------+
|   BIZ-1000|             Unknown|       Bakery|Ahmadu Bello Way,...|   Ijeoma Jalloh|   8042868828|
|   BIZ-1001|           Doyle Ltd|   Restaurant|Ahmadu Bello Way,...|   Adaeze Fofana|   8083197857|
|   BIZ-1002|Mcclain, Miller a...|       Bakery|Herbert Macaulay ...|      Asha Okeke|   8013999315|
|   BIZ-1003|      Davis and Sons|       Bakery|Ahmadu Bello Way,...|       Zane Adom|   8090801586|
|   BIZ-1004|Guzman, Hoffman a...|       Bakery|Herbert Macaulay ...|     Osman Touré|   8097226012|
|   BIZ-1005|Gardner, Robinson...|         Cafe|Ahmadu Bello Way,...|  Abena Obasanjo|   8047338124|
|   BIZ-1006|      Blake and Sons|       Bakery|Ahmadu Bello Way,...| Bolanle Kalumba|   8055667651|
|   BIZ-1007|Henderson, Ramire...|    Fast Food|Ahmadu Bello Way,...|  Lemuel Nnamani|   8055176955|
|   BIZ-1008|        Garcia-James|       Bakery|Ahmadu Bello Way,...| Chinonso Achebe|   8058181396|
|   BIZ-1009|             Unknown|    Fast Food|Herbert Macaulay ...|  Dada Abdoulaye|   8071662963|
|   BIZ-1010|             Unknown|       Bakery| Garki Area 1, Abuja| Mandela Chiluba|   8049349722|
|   BIZ-1011|             Unknown|      Unknown|Herbert Macaulay ...|     Abdul Cissé|   8019335534|
|   BIZ-1012|          Arnold Ltd|      Unknown|Herbert Macaulay ...|  Masamba Agbaje|   8048840994|
|   BIZ-1013|Mcclure, Ward and...|       Bakery|Ahmadu Bello Way,...|        Aziz Eze|   8047308985|
|   BIZ-1014|   Williams and Sons|         Cafe|Herbert Macaulay ...|      Gimba Moyo|   8059684848|
|   BIZ-1015|      Galloway-Wyatt|    Fast Food|Ahmadu Bello Way,...|Mojisola Olamide|   8096977837|
|   BIZ-1016|         James Group|      Unknown|Herbert Macaulay ...|  Adesuwa Chiume|   8081691040|
|   BIZ-1017|Flowers, Martin a...|   Restaurant|Ahmadu Bello Way,...|      Jamila Eze|   8046231783|
|   BIZ-1018|Adams, Zuniga and...|   Restaurant|Herbert Macaulay ...|    Elimu Agbaje|   8017507864|
|   BIZ-1019|Reid, Ferguson an...|   Restaurant|Ahmadu Bello Way,...|       Kunle Ali|   8045935572|
+-----------+--------------------+-------------+--------------------+----------------+-------------+
only showing top 20 rows

In [83]:
# create dimension table for rider
dim_rider = f4f_df_clean.select('rider_name', 'rider_phone').dropDuplicates()  \
                    .withColumn('rider_id', monotonically_increasing_id()) \
                    .select('rider_id','rider_name', 'rider_phone')

dim_rider.show()

+--------+-------------+-----------+
|rider_id|   rider_name|rider_phone|
+--------+-------------+-----------+
|       0|   Emeka John| 8019196777|
|       1|  Aisha Bello| 8089864260|
|       2|Tunde Oladipo| 8019121552|
|       3| Grace Onyema| 8041568532|
+--------+-------------+-----------+

In [82]:
# create flour dimension table

dim_flour = f4f_df_clean.select('flour_type').dropDuplicates() \
                    .withColumn('flour_type_id', monotonically_increasing_id()) \
                    .select('flour_type_id', 'flour_type')

dim_flour.show()

+-------------+------------+
|flour_type_id|  flour_type|
+-------------+------------+
|            0| All-purpose|
|            1|     Unknown|
|            2| Whole Wheat|
|            3|Pastry Flour|
|            4| Bread Flour|
+-------------+------------+

In [84]:
# create fact table

fact_orders = f4f_df_clean.join(dim_flour, ['flour_type'], 'left') \
                          .join(dim_rider, ['rider_name', 'rider_phone'], 'left') \
                          .select('order_id', 'order_date', 'delivery_date', 'business_id', 'rider_id', 'flour_type_id', \
                                  'quantity_bags', 'price_per_bag', 'total_amount', 'payment_method', 'order_status')

fact_orders.show(5)

+----------+----------+-------------+-----------+--------+-------------+-------------+-------------+------------+--------------+------------+
|  order_id|order_date|delivery_date|business_id|rider_id|flour_type_id|quantity_bags|price_per_bag|total_amount|payment_method|order_status|
+----------+----------+-------------+-----------+--------+-------------+-------------+-------------+------------+--------------+------------+
|ORD-214576|2025-10-25|   2025-10-25|   BIZ-1018|       1|            1|           26|         9500|      247000|           POS|   Delivered|
|ORD-299448|2025-10-08|   2025-10-08|   BIZ-1006|       2|            4|           27|        10000|      270000|           POS|   Cancelled|
|ORD-246991|2025-10-17|   2025-10-17|   BIZ-1052|       2|            3|           21|         9800|      205800| Bank Transfer|   Cancelled|
|ORD-392075|2025-10-13|   2025-10-13|   BIZ-1035|       2|            0|           20|        10500|      210000| Bank Transfer|     Pending|
|ORD-179046|2025-10-14|   2025-10-14|   BIZ-1039|       0|            4|           40|         9800|      380000|           POS|     Pending|
+----------+----------+-------------+-----------+--------+-------------+-------------+-------------+------------+--------------+------------+
only showing top 5 rows

#### Data Loading

In [85]:
# data loading 

def get_db_connection():
    connection = psycopg2.connect(
        host='localhost',
        database='F4F_DB',
        user='postgres',
        password='London123'
    )
    return connection

# connect to sql database
conn = get_db_connection()

In [90]:
fact_orders.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- order_date: date (nullable = true)
 |-- delivery_date: date (nullable = true)
 |-- business_id: string (nullable = true)
 |-- rider_id: long (nullable = true)
 |-- flour_type_id: long (nullable = true)
 |-- quantity_bags: integer (nullable = true)
 |-- price_per_bag: integer (nullable = true)
 |-- total_amount: integer (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- order_status: string (nullable = true)

In [93]:
# Create a function to create tables

def create_table():
    conn = get_db_connection()
    cursor = conn.cursor()

    create_table_query = '''
   
                        CREATE SCHEMA IF NOT EXISTS f4f;

                        DROP TABLE IF EXISTS f4f.dim_business CASCADE;
                        DROP TABLE IF EXISTS f4f.dim_rider CASCADE;
                        DROP TABLE IF EXISTS f4f.dim_flour CASCADE;
                        DROP TABLE IF EXISTS f4f.fact_orders CASCADE;

                        CREATE TABLE f4f.dim_business (
                            business_id VARCHAR PRIMARY KEY,
                            business_name VARCHAR NOT NULL,
                            business_type VARCHAR,
                            business_address VARCHAR,
                            contact_name VARCHAR NOT NULL,
                            contact_phone VARCHAR NOT NULL
                            
                        );

                        CREATE TABLE f4f.dim_rider (
                            rider_id SERIAL PRIMARY KEY,
                            rider_name VARCHAR NOT NULL,
                            rider_phone VARCHAR NOT NULL
                        );

                        CREATE TABLE f4f.dim_flour (
                            flour_type_id SERIAL PRIMARY KEY,
                            flour_type VARCHAR(10000)
                            
                        );

                        CREATE TABLE f4f.fact_orders (
                            order_id       VARCHAR PRIMARY KEY,
                            order_date     DATE NOT NULL,
                            delivery_date  DATE NOT NULL,
                            business_id    VARCHAR NOT NULL REFERENCES f4f.dim_business(business_id),
                            rider_id       INT NOT NULL REFERENCES f4f.dim_rider(rider_id),
                            flour_type_id  INT NOT NULL REFERENCES f4f.dim_flour(flour_type_id),
                            quantity_bags  INT NOT NULL,
                            price_per_bag   NUMERIC NOT NULL,
                            total_amount   NUMERIC NOT NULL,
                            payment_method VARCHAR NOT NULL,
                            order_status   VARCHAR NOT NULL
                        );
    '''

    cursor.execute(create_table_query)
    conn.commit()
    cursor.close()
    conn.close()
    print("Tables created successfully.")

In [94]:
create_table()

Tables created successfully.

In [95]:
# loading data into table

url = "jdbc:postgresql://localhost:5432/F4F_DB"
properties = {
    "user" : "postgres",
    "password" : "London123",
    "driver" : "org.postgresql.Driver"
}

In [97]:
dim_business.write.jdbc(url=url, table="f4f.dim_business", mode="append", properties=properties)
dim_rider.write.jdbc(url=url, table="f4f.dim_rider", mode="append", properties=properties)
dim_flour.write.jdbc(url=url, table="f4f.dim_flour", mode="append", properties=properties)
fact_orders.write.jdbc(url=url, table="f4f.fact_orders", mode="append", properties=properties)